html,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow-x: hidden;
  height: 100%;
}

html {
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

htmlZZZ {overflow:hidden;}

img {pointer-events: none;}
ul {list-style-type: none;}

#wrap {
	position: relative;
}

/* Set the fixed height of the footer here */
#footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}
.footer-links {
	display: inline-block;
	margin-top: 10px;
}
.copyleft {
	color: #999;
	font-size: 10px;
	padding: 7px 15px;
}

#header {
	position: fixed;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	z-index: 9;
}
#header a{
	text-decoration: none;
}

#content {
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 0 10px;
	width: 500px;
	margin: 90px auto 10px auto;
}

#canvas {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	bottom: 60px;
	right: 0;
	z-index: -1;
}

.alert {
	margin: 10px 0;
}

.home .btn {
	width: 150px;
	margin: 3px;
}

#gallery {
	position: absolute;
	left: 0;
	width: 100%;
}

#gallery > ul > li {
	text-align: center;
	width: 300px;
	margin-bottom: 30px;
	background: rgba(255,255,255,0.6);
	border-radius: 5px;
	cursor: pointer;
}

#gallery li img{
	opacity: 0.7;
	transition: opacity 0.4s;
	max-height: 1000px;
}
#gallery li:hover img{
	opacity: 0.95;
}
.YoutubeLog > div {
	position: relative;
}
.YoutubeLog .glyphicon {
	position: absolute;
	left: 50%;
	font-size: 90px;
	margin-left: -45px;
	top: 40px;
	color: #000;
	opacity: 0.6;
	text-shadow: 0 0 6px #fff;
	transition: all 0.2s;
}
#gallery li:hover .glyphicon {
	opacity: 0.8;
	top: 37px;
	font-size: 94px;
	margin-left: -47px;
}
#gallery .item-foot {
	padding: 4px;
}
#gallery .item-foot span {
	border-bottom: 1px dotted black;
}


@media (max-width: 992px) {
  #wrapZZZ { width: 100%; }
  #footerZZZ { width: 100%; }
}